:root {
  font-family: 'Courier New', Courier, monospace;
  background-color: #222;
  color: #4AF626;
}
.result {
  border: 1px dotted #4AF626;
  padding: 1rem;
  width: fit-content;
}
.options {
  display: block;
}
.options input {
  display: none;
}
.options span {
  cursor: pointer;
}
.options span::after  {
  content: '[ ]';
}
.options input:checked + span::after {
  content: '[X]';
}

button {
  background-color: #222;
  color: #4AF626;
  font-family: 'Courier New', Courier, monospace;
  border: #4AF626 solid 2px;
  border-radius: 3px;
  padding: 0.5rem;
}